.boxes {
  display: flex;
  flex-wrap: wrap;

  a {
    text-decoration: none;
    color: $color-light;
  }
}

.box {
  display: flex;
  color: $color-light;
  text-align: center;
  height: 150px;
  background-color: black;
  margin: 7px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.box-title {
  text-transform: uppercase;
}

.box-small {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 2;
  margin-top: 50px;
  position: relative;

  .box-title {
    //display: flex;
    flex: 1 100%;
    //margin-top: 10px;
    position: absolute;
    top: 50%;
    transform: translate(0, -100%);
    transition: 1s;
  }
}

.box-large {
  flex: 1 100%;
  flex-wrap: wrap;
  background-color: $color-main;

  .box-title {
    flex: 1 100%;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  h3.box-text {
    margin-top: 0;
    padding-top: 0;
  }
}

.box-text-hidden {
  position: absolute;
  bottom: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  transition: 1s;
}

.box-order {
  background-image: url("../../images/home/pizza-1.jpg");
  background-size: cover;
}

.box-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.box-link:hover {
  .box-text-hidden {
    opacity: 1;
    bottom: 40px;
  }

  .box-title {
    position: absolute;
    top: 40%;
    transition: 1s;
  }
}

.box-book {
  background-image: url("../../images/home/pizza-2.jpg");
  background-size: cover;
}

.flickity-button {
  display: none;
}

.cell {
  display: flex;
  height: 250px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;

  .cell-image {
    flex: 2;
    //object-fit: cover;

    .cell-img {
      width: 100%;
    }
  }

  .cell-text {
    flex: 2;
    color: $color-dark;

    p, h2 {
      padding-left: 15px;
    }

    .cell-par {
      text-align: justify;
      padding-right: 10px;
    }

    .reviewer {
      font-style: italic;
      font-weight: bold;
      font-size: 16px;
    }
  }
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;

  .image-box {
    display: flex;
    flex: 30%;
    height: 200px;
    margin: 10px;
    position: relative;
    z-index: 1;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    .overlay {
      display: flex;
      width: 100%;
      height: 100%;
      background-color: $color-dark;
      border-radius: 10px;
      position: absolute;
      z-index: 2;
      opacity: 0;
      transition: 0.5s;
      align-items: center;
      justify-content: center;
    }

    .icon {
      font-size: 15px;
      color: $color-light;
      margin: auto;
      opacity: 1;
      padding: 5px;
      transition: 1s;
    }

    .overlay:hover {
      opacity: 0.9;

      .icon {
        color: $color-main;
        opacity: 1;
        font-size: 35px;
      }
    }
  }
}